{% extends 'RaffleBundle::layout.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body_class %}home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.2/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.2/css/ion.rangeSlider.skinNice.min.css">
{% endblock %}

{% block content %}
    <div class="row">
        <h3>What do want?</h3>
        <div class="col-sm-6 col-sm-offset-3 guided-filters">
            <div class="carousel slide">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            {% for type in types %}
                                <div class="col-sm-6">
                                    <a href="javascript:void(0);" class="thumbnail" data-id="{{ type.type }}">
                                        <img src="{{ asset('bundles/raffle/icons/' ~ type.image) }}" title="I want to get a {{ type.name }}">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="item">
                        <select class="form-control country-selector">
                            <option value="">Select a country</option>
                            {% for country in countries %}
                                <option value="{{ country.id }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <select class="form-control city-selector">
                            <option value="">Select a city</option>
                        </select>
                    </div>
                    <div class="item price-range">
                        <input name="range" />
                        <br>
                        <button type="button" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Recommended items:</h3>
        {% for item in recommended_items %}
            <div class="col-sm-6">
                {{ item.id }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.2/js/ion.rangeSlider.min.js"></script>
{% endblock %}
