{% extends 'RaffleBundle::layout.html.twig' %}

{% block title %}Search{% endblock %}

{% block body_class %}search{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 well well-sm">
            <form action="{{ path('raffle_search') }}" method="get">
                <div class="form-group">
                    <label for="type">Type</label>
                    <select name="type" id="type" class="form-control">
                        <option value="">-- Any --</option>
                        {% set reqType = app.request.get('type') %}
                        {% for type in types %}
                            {% set selected = '' %}
                            {% if type.type == reqType %}
                                {% set selected = 'selected' %}
                            {% endif %}
                            <option value="{{ type.type }}" {{ selected }}>{{ type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select name="country" id="country" class="form-control">
                        <option value="">-- Any --</option>
                        {% set reqCountry = app.request.get('country') %}
                        {% for country in countries %}
                            {% set selected = '' %}
                            {% if country.id == reqCountry %}
                                {% set selected = 'selected' %}
                            {% endif %}
                            <option value="{{ country.id }}" {{ selected }}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <select name="city" id="city" class="form-control">
                        <option value="">-- Any --</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Search</button>
            </form>
        </div>
        <div class="col-sm-8">
            <ul class="media-list">
                {% for item in items %}
                    <li class="media">
                        <div class="media-left">
                            <a href="{{ path('raffle_item', { 'slug': item.slug, 'id': item.id }) }}">
                                <img class="media-object" src="{{ asset('') }}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">({{ item.price }}) {{ item.title }}</h4>
                            <p>{{ item.description }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
