{% extends 'RaffleBundle::layout.html.twig' %}

{% block title %}Registered{% endblock %}

{% block body_class %}registered{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="row">
        <h3>Thank you!</h3>
        <div class="col-sm-6 col-sm-offset-3 registered">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
