{% extends 'RaffleBundle::layout.html.twig' %}
{% form_theme form 'RaffleBundle::fields.html.twig' %}

{% block title %}Register{% endblock %}

{% block body_class %}register{% endblock %}

{% block content %}
    <div class="row">
        <h3>Join us!</h3>
        <div class="col-sm-6 col-sm-offset-3 register">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                    {{ form_row(form.firstName, {'label': 'Fist name:', 'attr': {'class': 'form-control'}}) }}

                    {{ form_row(form.lastName, {'label': 'Last name:', 'attr': {'class': 'form-control'}}) }}

                    {{ form_row(form.email, {'label': 'Email:', 'attr': {'class': 'form-control'}}) }}

                    {{ form_row(form.plainPassword.first, {'label': 'Password:', 'attr': {'class': 'form-control'}}) }}

                    {{ form_row(form.plainPassword.second, {'label': 'Confirm password:', 'attr': {'class': 'form-control'}}) }}

                    {{ form_row(form.country, {'label': 'Country:', 'attr': {'class': 'form-control'}}) }}

                <button type="submit" class="btn btn-default">Register</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}