{% extends 'RaffleBundle::layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block body_class %}login{% endblock %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="row">
        <h3>Welcome!</h3>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="col-sm-6 col-sm-offset-3 login">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" id="username" name="_username" required="required" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" required="required" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>

                <input type="submit" id="_submit" name="_submit" class="btn btn-default" value="{{ 'security.login.submit'|trans }}" />
            </form>
        </div>
    </div>
{% endblock %}
