{% extends 'UserBundle:Profile:profile.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block maincontent %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Your details:
        </div>
        <div class="panel-body">
            {{ form_start(form, { 'action': path('fos_user_profile_show') }) }}
                {{ form_errors(form) }}
                {{ form_row(form.firstName, {'label': 'Fist name:', 'attr': {'class': 'form-control'}}) }}

                {{ form_row(form.lastName, {'label': 'Last name:', 'attr': {'class': 'form-control'}}) }}

                {{ form_row(form.email, {'label': 'Email:', 'attr': {'class': 'form-control'}}) }}

                {{ form_row(form.country, {'label': 'Country:', 'attr': {'class': 'form-control'}}) }}
                </br>
                <button type="submit" class="btn btn-default">{{ 'profile.edit.submit'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}