{% extends 'RaffleBundle::layout.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body_class %}profile{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li>
                  <table class="table borderless">
                    <tbody>
                      <tr>
                        <td rowspan="2">
                            <img class="img-rounded" alt="Profile image" src="{{ asset('bundles/raffle/icons/nophoto.gif') }}" data-holder-rendered="true" style="width: 70px; height: 70px;" />
                        </td>
                        <td>
                          {{ user.firstName }} {{ user.lastName }}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {{ user.email }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                <li{% if not active or active=='details' %} class="active"{% endif %}><a href="/profile">Details</a></li>
                <li{% if active=='tickets' %} class="active"{% endif %}><a href="/profile/tickets">Tickets</a></li>
                <li{% if active=='raffles' %} class="active"{% endif %}><a href="/profile/raffles">Raffles</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            {% block maincontent %}{% endblock %}
        </div>
    </div>
{% endblock %}